[submodule "cores/snes9x"]
	path = external/cores/snes9x
	url = https://github.com/Cpasjuste/snes9x.git
[submodule "cores/nestopia"]
	path = external/cores/nestopia
	url = https://github.com/Cpasjuste/nestopia.git
[submodule "sscrap"]
	path = sscrap
	url = https://github.com/Cpasjuste/sscrap.git
[submodule "libcross2d"]
	path = libcross2d
	url = https://github.com/Cpasjuste/libcross2d.git
[submodule "cores/fbneo"]
	path = external/cores/FBNeo
	url = https://github.com/finalburnneo/FBNeo.git
[submodule "cores/genesis"]
	path = external/cores/Genesis-Plus-GX
	url = https://github.com/ekeeke/Genesis-Plus-GX.git
