[submodule "libcross2dui"]
	path = libcross2dui
	url = https://github.com/Cpasjuste/libcross2dui.git
[submodule "cores/snes9x"]
	path = cores/snes9x
	url = https://github.com/Cpasjuste/snes9x.git
[submodule "cores/nestopia"]
	path = cores/nestopia
	url = https://github.com/Cpasjuste/nestopia.git
[submodule "ssscrap"]
	path = ssscrap
	url = https://github.com/Cpasjuste/ssscrap.git
[submodule "cores/fba"]
	path = cores/fba
	url = https://github.com/Cpasjuste/FBAlpha.git
