<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.mydedibox.pgen"
    android:installLocation="preferExternal">

    <application
        android:label="pgen"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:label">

        <activity
            android:name="fr.mydedibox.pgen.Main"
            android:alwaysRetainTaskState="true"
            android:configChanges="layoutDirection|locale|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:launchMode="singleInstance"
            android:preferMinimalPostProcessing="true"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
            tools:targetApi="r">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>