name: switch-dev

on:
  #push:
  #  branches: [ dev ]
  workflow_dispatch:

jobs:

  build-switch-dev:
    runs-on: ubuntu-24.04
    container: devkitpro/devkita64:latest
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install build dependencies
        run: |
          sudo apt -yq update
          sudo apt -yq install git build-essential cmake zip

      - name: Configure
        run: |
          cd $GITHUB_WORKSPACE
          mkdir cmake-build && cd cmake-build
          cmake -G "Unix Makefiles" -DPLATFORM_SWITCH=ON -DCMAKE_BUILD_TYPE=Debug ..

      - name: Build pfbneo
        run: |
          cd $GITHUB_WORKSPACE/cmake-build
          make pfbneo.deps
          make -j"$(nproc)" pfbneo.nro

      - name: Build pgen
        run: |
          cd $GITHUB_WORKSPACE/cmake-build
          make -j"$(nproc)" pgen.nro

      - name: Build pnes
        run: |
          cd $GITHUB_WORKSPACE/cmake-build
          make -j"$(nproc)" pnes.nro

      - name: Build psnes
        run: |
          cd $GITHUB_WORKSPACE/cmake-build
          make -j"$(nproc)" psnes.nro

      - name: Build pgba
        run: |
          cd $GITHUB_WORKSPACE/cmake-build
          make -j"$(nproc)" pgba.nro